.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 80vh;
    flex-wrap: wrap;
}
.grid-images{
    height: 50vh;
    width: 30vw;
    margin-bottom: 20px;
}