:root{
    margin: 20px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e66465;
    border-radius: 30px;
    color: white;
    padding: 10px;
}
.header-image{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    display: inline;
    padding-bottom: 0px;
}
h1{
    display: inline;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}
.intro-text{
    margin: 20px;
    padding: 10px;
}
.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* height: 80vh; */
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
    text-align: center;
}
.grid-images-div {
    height: 50vh;
    width: 30vw;
    margin-bottom: 20px;
}
img{
    height: 85%;
    width: 85%;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    border-radius: 30px;
    background: linear-gradient(#e66465, #9198e5);
    padding-bottom: 10px;
    margin-bottom: 5px;
}
p{
    margin: 0px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

footer{
    padding: 20px;
    padding-left: 20px;
    margin: 20px;
    margin-left: 30px;
    background: #9198e5;
    border-radius: 30px;
    color: white;
}

.final-footer-text{
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;

}